/* :root {
	--haiti: #0b132b;
	--cloudBurst: #1c2541;
	--fiord: #3a506b;
	--fountainBlue: #5bc0be;
	--darkFountainBlue: #407a79;
} */

.referral-form-container {
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 5px;
	max-width: 600px;
	margin: 20px auto;
}

.referral-form-container h2 {
	text-align: center;
	margin-bottom: 20px;
	color: black !important;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: black !important;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	color: black !important;
}

.form-group textarea {
	height: 100px;
}

button {
	padding: 10px 20px;
	/* background-color: #cfd8e2; */
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

.error-message {
	color: red;
	font-weight: bold;
}

.success-message {
	color: green;
	font-weight: bold;
}
